.trending-products {
  &__row-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(261px, 1fr));
    grid-gap: 2rem;
  }
  &__row-2 {
    &__card-1 {
      background-color: #fff6fb;
    }
    &__card-2 {
      background-color: #eeeffb;
    }
  }
}
