$widthLimit: 1000;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";

@mixin height-classes {
  @for $i from 0 through $widthLimit {
    $height: $i * 1px;
    .h-px-#{$i} {
      height: $height !important;
    }
  }
}
@mixin width-classes {
  @for $i from 0 through $widthLimit {
    $width: $i * 1px;
    .w-px-#{$i} {
      width: $width !important;
    }
    .max-w-px-#{$i} {
      max-width: $width !important;
    }
  }
}

.responsive-img-next {
  position: relative;
  // width: 100%;
  > div {
    position: unset !important;
  }
  img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

@include height-classes;
@include width-classes;
